body {
    min-height: 200vh;
}

.thin-text {
    font-weight: 300;
    background: rgba(96,125,139, .4);
    padding: 40px;
    border-radius: 10px;
}

nav {
    background-color: #726C81;
}

.image-small{
    height: 300px;
    width: 500px;
}